
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    
    /* width: 100%; */
     /* background-color: #283fbd;  */
    /* margin-left:50px ; */
    color: #242328;
 
    
    
}

 .section{
    /* flex-basis: 30%;  */
  /* /text-align: right; */
  color: #efefef;
  font-size: 90px;
  font-weight: 300px;
  padding-right: 50px;
  font-family: "italic";
  
}

.section p{
  margin-right: 0px;
   color: #1827ad;
}
  



.input-container {
    position: relative;
    margin-bottom: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}

.input-container input {
    
    color: #2e2929;
    background-color: none;
    padding: 0.625rem;
    border: 1x solid #976aac;
    transition: border-color 0.3s, color 0.3s;
    border-radius: 5px; 
    width: 500px;
    height: 30px;
}

.input-container label {
    position: absolute;
      bottom:95%; 
    left: 0;
    transform: translateY(-50%) translateX(0.625rem);
    color: #efefef;
    padding-inline: 0.25rem;
    font-size: 0.875rem;
    pointer-events: none;
    z-index: 999;
    border-radius: 2px;
    /* padding: 3px; */
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
    
}

.input-container:hover input {
    border-color: #3d6580; 
    color: #1e1f1f; 
}

.input-container input:focus {
    outline: none;
    border-color: #526a82; 
}

.input-container:focus-within label,
.input-container:not(:has(:placeholder-shown)) label {
   
    transform: 0.625rem -1rem;
    background-color: #1a27bc;  
    border-color: transparent;
}
.input-container::placeholder{
    color: transparent;
    cursor: alias;
}

.input-container:hover label {
    color: rgb(205, 224, 218); 
    background-color: #1e1f1f;
}
 h1{
    margin: 20px;
    font-family: "italic";
    color:#1954b1;
 }
    


form {
   width: 320px; 
    margin: 30px auto;
    text-align: center;
    /* border: 1px solid rgb(235, 229, 229); */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    /* box-shadow: inset 0 5px 30px rgba(184, 176, 176, 0.5), 0
    0 10px rgba(154, 147, 147, 0.1); */
    backdrop-filter: blur(30px) saturate(50%);
    /* border-radius: 0px; */
    z-index: 998;
    height: 400px;
    /* background-color: #242328; */
  

}

button {
     margin-top: 10px; 
    padding: 0.625rem 1rem;
    background-color: #1a27bc;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
     border-radius: 5px; 
    margin-bottom: 95px;
    width: 500px;
}

button:hover {
    background-color: #282929; 
}

.password-toggle{
    position: absolute;
    top: 7px;
    right: 10px;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    font-size: 1em;
    

}